.filterContainer {
  position: relative;
  margin-right: 20px;
}

.filterDisplay {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  background-color: var(--elements);
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.filterItemsContainer {
  position: absolute;
  top: 55px;
  left: 0px;
  width: 180px;
  margin: 0;
  background-color: var(--elements);
  border-radius: 6px;
  overflow: hidden;
  border: 2px solid var(--elements);
}

.filter__filter-item {
  padding: 12px 15px;
}

.filterDisplayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resetFilterButton {
  background-color: var(--elements);
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  font-weight: 300;
  box-shadow: var(--box-shadow);
}

.filter__filter-item:hover {
  background-color: var(--bg);
}

@media only screen and (min-width: 800px) {
  .filterContainer {
    margin-left: 20px;
    margin-right: unset;
  }
}

@media only screen and (min-width: 1440px) {
  .filterDisplayContainer {
    display: flex;
    align-items: center;
  }

  .filterItemsContainer {
    left: unset;
    top: 55px;
    right: 0px;
  }

  .filterDisplay {
    margin-left: 0px;
  }

  .resetFilterButton {
    font-size: 0.775rem;
  }
}
